@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.wrapper {
    width: 67%;
    max-width: 1100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 40px;
    height: 675px;
    background: #fff;
    display: none;
    
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    transition: all 0.4s ease;
}

/* LEFT PANEL */
.left-panel {
    width: 45%;
    background: linear-gradient(180deg, #4b001f, #9b0038, #4b001f);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Blood drop shape */
.drop-shape {
    width: 180px;
    height: 260px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50% 50% 60% 60%;
    position: relative;
    transform: rotate(180deg);
}
.drop-shape::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50% 50% 60% 60%;
    top: -40px;
}

/* RIGHT PANEL */
.right-panel {
    width: 55%;
    padding: 60px 70px;
}

.right-panel h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #222;
}

/* INPUTS */
form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

form input:focus {
    border-color: #9b0038;
    outline: none;
    box-shadow: 0 0 4px rgba(155, 0, 56, 0.4);
}

/* REGISTER BUTTON */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #4b001f, #9b0038);
    color: #fff;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

/* LOGIN TEXT */
.login-text {
    text-align: center;
    margin-top: 15px;
}

.login-text a {
    color: #4b0066;
    font-weight: 600;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .left-panel, .right-panel {
        width: 100%;
        height: 300px;
    }

    .right-panel {
        padding: 40px;
    }
}
