/* Navbar Container */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
.navbar {
    width: 100%;
    background: linear-gradient(to right, #52001a, #970036, #52001a);
    padding: 5px 0px 5px 0px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


/* Logo */
.logo img {
    margin-left: 20px;
    width: 65px;
}




/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
}




.nav-links li a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
   
}



.nav-links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;                /* distance from text */
    width: 0;
    height: 3px;
    background: white;           /* underline color */
    transition: width 0.3s ease;
}



/* show underline on hover */
.nav-links li a:hover::after {
    width: 100%;                 /* slide full width */
}




/* Hover Effects */
.nav-links li a:hover {
    color: #ffdfdf;
    transform: scale(1.05);
}






/* Profile Image */
#profile_Img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    padding: 3px;
    margin-right: 20px;
    
}


#Menu_Img{
     width: 50px;
    height: 50px;
     margin-right: 20px;

}

.profile {
  position: relative;
}



#nav-links-menu{
    width: 350px;
    right: -350px; /* hidden outside screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    list-style: none;
    padding-top: 15px;
    background: linear-gradient(to right, #52001a, #970036, #52001a);
    margin-top: 15px;
    margin-left: -280px;
    padding-bottom: 50px;
    position: fixed;
     transition: right 0.3s ease-in-out;
     z-index: 5;
}



#nav-links-menu.active {
  right: 0;
}



#nav-links-menu li a {
    position: relative; 
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
   
   
}



/* underline (hidden at start) */
#nav-links-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;                /* distance from text */
    width: 0;
    height: 3px;
    background: white;           /* underline color */
    transition: width 0.3s ease;
}

/* show underline on hover */
#nav-links-menu li a:hover::after {
    width: 100%;                 /* slide full width */
}



#profile_Menu_Img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white; 
    padding: 3px;

}


#Menu_Img:hover{
    cursor: pointer;
}

.nav-links li{
    position: relative;
}

.con_Looking_For_Blood {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100%;              /* place JUST below the text */
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;          /* hidden initially */
    z-index: 10;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    justify-content: space-around;

}

.nav-links li.dropdown1:hover .con_Looking_For_Blood {
    display: flex;
}

.con_Looking_For_Blood div{
    padding: 15px;
    border-radius: 5px;
}

.con_Looking_For_Blood div:hover{
    background-color: #d52462;
    cursor: pointer;
}




.con_Donate_Blood {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100%;              /* place JUST below the text */
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;          /* hidden initially */
    z-index: 10;
    font-weight: bold;
    
    flex-direction: column;
    justify-content: space-around;

}

.nav-links li.dropdown2:hover .con_Donate_Blood {
    display: flex;
    
}

.con_Donate_Blood div{
    padding: 15px;
    border-radius: 5px;

}

.con_Donate_Blood div:hover{
    background-color: #d52462;
    cursor: pointer;
}

.con_Donate_Blood_menu{
     left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 160px;
    height: 120px;
    position: absolute;
    z-index: 10;

}

.con_Looking_For_Blood_menu{
    position: absolute;
    display: none;
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 120px;
    height: 120px;
    z-index: 10;

}
.con_Looking_For_Blood_menu div,.con_Donate_Blood_menu div{
    padding: 4px;
}

.con_Looking_For_Blood_menu div:hover{
    background-color: #d52462;
    cursor: pointer;
    
}

.con_Donate_Blood_menu div:hover{
    background-color: #d52462;
    cursor: pointer;
     
}



#nav-links-menu li.Menu_Dropdown1:hover .con_Looking_For_Blood_menu {
    display: flex;
     
    cursor: pointer;
}

#nav-links-menu li.Menu_Dropdown2:hover .con_Donate_Blood_menu {
    display: flex;
     
    cursor: pointer;
}



.con_Count_Blood_Register{
    display: flex;
}


.Donor_Rgister{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    
    height: 100px;
    
    background-color: rgb(235, 170, 181);
    color: white;
   



}

.Blood_Register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    width: 50%;
    color: white;
    height: 100px;

    background-color: rgb(128, 15, 15);
}






/* Section Headings */
.section-title {
   margin-top: 80px;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #8A0039; /* Professional maroon shade */
    margin-bottom: 40px;
}

.services{
    display: flex;
    gap: 15px;
    
    justify-content: center;
}

/* Service Cards */
.service-card {
    width: 250px;
    padding: 40px 20px;
    background: #e9e2e2;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 25px black;
}

/* Icon styling */
.service-card img {
    width: 65px;
    margin-bottom: 20px;
}

/* Title */
.service-card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}



/* RESPONSIVE MENU */
@media (min-width: 771px) {
    .nav-links {
        gap: 52px;
    }

    .nav-links li a {
        font-size: 20px;
    }
    #Menu_Img{
        display: none;
    }

    #nav-links-menu{
        display: none;
    }
   


}

@media (max-width: 770px) {
    .navbar {
        
        gap: 15px;
        padding-bottom: 20px;
    }


    .nav-links{
        display: none;
    }

    #profile_Img {
        display: none;
    }

    
}
