/* Navbar Container */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
.navbar {
    width: 100%;
    background: linear-gradient(to right, #52001a, #970036, #52001a);
    padding: 5px 0px 5px 0px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


/* Logo */
.logo img {
    margin-left: 20px;
    width: 65px;
}




/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
}




.nav-links li a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
   
}



.nav-links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;                /* distance from text */
    width: 0;
    height: 3px;
    background: white;           /* underline color */
    transition: width 0.3s ease;
}



/* show underline on hover */
.nav-links li a:hover::after {
    width: 100%;                 /* slide full width */
}




/* Hover Effects */
.nav-links li a:hover {
    color: #ffdfdf;
    transform: scale(1.05);
}






/* Profile Image */
#profile_Img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    padding: 3px;
    margin-right: 20px;
    display: none;
    
}


#Menu_Img{
     width: 50px;
    height: 50px;
     margin-right: 20px;

}

.guest-btn {
  background: #b0003a;
  color: white;
  padding: 10px 22px;
  border-radius: 50% / 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  line-height: 1.1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: 0.3s;
}

.guest-btn:hover {
  background: #d1004a;
  transform: translateY(-3px);
}




.profile {
  position: relative;
}



#nav-links-menu{
    width: 350px;
    right: -350px; /* hidden outside screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    list-style: none;
    padding-top: 15px;
    background: linear-gradient(to right, #52001a, #970036, #52001a);
    margin-top: 15px;
    margin-left: -280px;
    padding-bottom: 50px;
    position: fixed;
     transition: right 0.3s ease-in-out;
     z-index: 5;
}



#nav-links-menu.active {
  right: 0;
}



#nav-links-menu li a {
    position: relative; 
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
   
   
}



/* underline (hidden at start) */
#nav-links-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;                /* distance from text */
    width: 0;
    height: 3px;
    background: white;           /* underline color */
    transition: width 0.3s ease;
}

/* show underline on hover */
#nav-links-menu li a:hover::after {
    width: 100%;                 /* slide full width */
}



#profile_Menu_Img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white; 
    padding: 3px;

}


#Menu_Img:hover{
    cursor: pointer;
}

.nav-links li{
    position: relative;
}

.con_Looking_For_Blood {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100%;              /* place JUST below the text */
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;          /* hidden initially */
    z-index: 10;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    justify-content: space-around;

}

.nav-links li.dropdown1:hover .con_Looking_For_Blood {
    display: flex;
}

.con_Looking_For_Blood div{
    padding: 15px;
    border-radius: 5px;
}

.con_Looking_For_Blood div:hover{
    background-color: #d52462;
    cursor: pointer;
}




.con_Donate_Blood {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100%;              /* place JUST below the text */
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;          /* hidden initially */
    z-index: 10;
    font-weight: bold;
    
    flex-direction: column;
    justify-content: space-around;

}

.nav-links li.dropdown2:hover .con_Donate_Blood {
    display: flex;
    
}

.con_Donate_Blood div{
    padding: 15px;
    border-radius: 5px;

}

.con_Donate_Blood div:hover{
    background-color: #d52462;
    cursor: pointer;
}

.con_Donate_Blood_menu{
     left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 160px;
    height: 120px;
    position: absolute;
    z-index: 10;

}

.con_Looking_For_Blood_menu{
    position: absolute;
    display: none;
    left: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 120px;
    height: 120px;
    z-index: 10;

}
.con_Looking_For_Blood_menu div,.con_Donate_Blood_menu div{
    padding: 4px;
}

.con_Looking_For_Blood_menu div:hover{
    background-color: #d52462;
    cursor: pointer;
    
}

.con_Donate_Blood_menu div:hover{
    background-color: #d52462;
    cursor: pointer;
     
}



#nav-links-menu li.Menu_Dropdown1:hover .con_Looking_For_Blood_menu {
    display: flex;
     
    cursor: pointer;
}

#nav-links-menu li.Menu_Dropdown2:hover .con_Donate_Blood_menu {
    display: flex;
     
    cursor: pointer;
}



.con_Count_Blood_Register{
    display: flex;
}


.Donor_Rgister{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    
    height: 100px;
    
    background-color: rgb(235, 170, 181);
    color: white;
   



}

.Blood_Register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    width: 50%;
    color: white;
    height: 100px;

    background-color: rgb(128, 15, 15);
}






/* Section Headings */
.section-title {
   margin-top: 80px;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #8A0039; /* Professional maroon shade */
    margin-bottom: 40px;
}

.services{
    display: flex;
    gap: 15px;
    
    justify-content: center;
}

/* Service Cards */
.service-card {
    width: 250px;
    padding: 40px 20px;
    background: #e9e2e2;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 25px black;
}

/* Icon styling */
.service-card img {
    width: 65px;
    margin-bottom: 20px;
}

/* Title */
.service-card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}


/* Section Styling */
.about-section {
    padding: 60px 50px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
    margin: auto;
}

/* Left Image */
.about-image img {
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

/* Right Content */
.about-content h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 25px;
    max-width: 550px;
}

/* Donate Button */
.donate-btn {
    background-color: #65001E;
    color: #fff;
    padding: 14px 32px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.donate-btn:hover {
    background-color: #820028;
}

/* Responsive */
@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content p {
        margin: auto;
    }
}

/* Section Layout */
.donation-section {
    text-align: center;
    padding: 50px 70px;
    font-family: 'Segoe UI', sans-serif;
}

.donation-title {
    font-size: 45px;
    color: #6A0026;
    margin-bottom: 10px;
}

.donation-subtitle {
    font-size: 20px;
    margin-bottom: 25px;
    color: #444;
}

/* Blood Type Buttons */
.blood-types {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.type {
    padding: 10px 28px;
    border-radius: 8px;
    border: 1px solid #1d1c1c;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.type:hover {
    background: #A3004A;
    color: #fff;
}

.type.active {
    background: #6A0026;
    color: white;
    border-color: #6A0026;
}

/* Main Container */
.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Left Boxes */
.left-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 550px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.yellow-box {
    background: #FCDDA7;
}

.blue-box {
    background: #C9E0FF;
}

.info-box h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.info-box p {
    font-size: 18px;
    margin: 0;
}

/* Avatar Circle */
.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #E4E4E4;
}

/* Right Image */
.right-image img {
    width: 420px;
}

.save-life-text {
    font-size: 20px;
    margin-top: 20px;
}

.save-life-text span {
    color: #7c143a;
    font-weight: bold;
    font-size: 22px;
}

/* Responsive */
@media (max-width: 900px) {
    .donation-container {
        flex-direction: column;
        text-align: center;
    }

    .right-image img {
        width: 320px;
    }
}


/* General Section Design */
.types-donation-section {
    text-align: center;
    padding: 60px 80px;
    font-family: "Georgia", serif;
}

/* Title */
.types-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #941443;
}

/* Paragraph */
.types-desc {
    font-size: 20px;
    color: #444;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
}

/* Highlighted Words */
.highlight {
    color: #7c1038;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .types-title {
        font-size: 36px;
    }

    .types-desc {
        font-size: 18px;
        padding: 0 20px;
    }
}




/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap'); */


.container {
  display: grid;
  grid-template-columns: 260px 1fr 600px;
  gap: 20px;
  padding: 30px;
  align-items: start;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 130px;
  margin-right: 50px;
}

.tab {
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #a00024;
  background: #fff;
  color: #7b0726;
  transition: 0.3s;
}

.tab:hover,
.tab.active {
  background: #bc1438;
  color: #fff;
}

.content {
  padding-right: 30px;
}

.content h1 {
  color: #81112f;
  margin-bottom: 10px;
  font-size: 36px;
}

.content p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.media {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 40px 0px;
}

.scroll-track {
  display: flex;
  gap: 60px;
  animation: slidePattern 10s linear infinite;
  
}

.card {
  background: #fff;
  padding: 30px;
  width: 280px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

@keyframes slidePattern {
  0%   { transform: translateX(0); }        /* Start left */
  40%  { transform: translateX(10%); }      /* Move right */
  50%  { transform: translateX(20%); }      /* Hold right */
  90%  { transform: translateX(-10%); }     /* Move back left */
  100% { transform: translateX(0); }        /* Return to start */
}




.footer {
  width: 100%;
  padding: 18px 40px;
  background: linear-gradient(to right, #3c001a, #910033);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer .author {
  font-weight: 600;
  color: #ffccd7;
}

.scrollTopBtn {
  position: fixed;
  right: 25px;
  top: 95%;
  transform: translateY(-50%);
  background:  #910033;
  border: none;
  color: #ffb8c7;
  font-size: 16px;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

/* Hover effect */
.scrollTopBtn:hover {
  background: #f8538d;;
}





/* RESPONSIVE MENU */
@media (min-width: 771px) {
    .nav-links {
        gap: 52px;
    }

    .nav-links li a {
        font-size: 20px;
    }
    #Menu_Img{
        display: none;
    }

    #nav-links-menu{
        display: none;
    }
   


}

@media (max-width: 770px) {
    .navbar {
        
        gap: 15px;
        padding-bottom: 20px;
    }


    .nav-links{
        display: none;
    }

    #profile_Img {
        display: none;
    }

    
}
